<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
   <!--
          xmlns:tx="http://www.springframework.org/schema/tx"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx/spring-tx.xsd">
   -->
   <!--多数据源配置，可为udal-->
   <bean id="dataSource0" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      <!-- 基本属性 url、user、password-->
      <property name="url" value="jdbc:mysql://10.128.91.222:8866/yxzy?autoReconnect=true&amp;rewriteBatchedStatements=true&amp;socketTimeout=30000&amp;connectTimeout=3000" />
      <property name="username" value="dpuser1" />
      <property name="password" value="Asiainfo@123" />
      <!--
      <property name="url" value="jdbc:mysql://10.128.91.198:3306/mysql" />
      <property name="username" value="root" />
      <property name="password" value="zaq1XSW2" />-->
      <!-- 配置初始化大小、最小、最大 -->
      <property name="maxActive" value="20" />
      <property name="initialSize" value="3" />
      <property name="minIdle" value="3" />
      <!-- maxWait获取连接等待超时的时间 -->
      <property name="maxWait" value="60000" />

      <!-- timeBetweenEvictionRunsMillis间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
      <property name="timeBetweenEvictionRunsMillis" value="60000" />
      <!-- minEvictableIdleTimeMillis一个连接在池中最小空闲的时间，单位是毫秒-->
      <property name="minEvictableIdleTimeMillis" value="300000" />
      <property name="validationQuery" value="SELECT 'z'" />
      <property name="testWhileIdle" value="true" />
      <property name="testOnBorrow" value="false" />
      <property name="testOnReturn" value="false" />
   </bean>

   <bean id="dataSource1" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      <!-- 基本属性 url、user、password -->
      <property name="url" value="jdbc:mysql://10.128.91.222:8866/yxzy?autoReconnect=true&amp;rewriteBatchedStatements=true&amp;socketTimeout=30000&amp;connectTimeout=3000" />
      <property name="username" value="dpuser1" />
      <property name="password" value="Asiainfo@123" />
      <!-- 基本属性 url、user、password
      <property name="url" value="jdbc:mysql://10.1.241.206:8850/TestSchema" />
      <property name="username" value="admin" />
      <property name="password" value="Test_123" />-->
      <!-- 配置初始化大小、最小、最大 -->
      <property name="maxActive" value="20" />
      <property name="initialSize" value="3" />
      <property name="minIdle" value="3" />
      <!-- maxWait获取连接等待超时的时间 -->
      <property name="maxWait" value="60000" />

      <!-- timeBetweenEvictionRunsMillis间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
      <property name="timeBetweenEvictionRunsMillis" value="60000" />
      <!-- minEvictableIdleTimeMillis一个连接在池中最小空闲的时间，单位是毫秒-->
      <property name="minEvictableIdleTimeMillis" value="300000" />
      <property name="validationQuery" value="SELECT 'z'" />
      <property name="testWhileIdle" value="true" />
      <property name="testOnBorrow" value="false" />
      <property name="testOnReturn" value="false" />
   </bean>

   <bean id="dataSource" class="com.ai.dbua.route.DynamicDataSource" primary="true">
      <property name="targetDataSources">
         <map>
            <entry key="dataSource0" value-ref="dataSource0" />
            <entry key="dataSource1" value-ref="dataSource1" />
         </map>
      </property>
   </bean>

   <bean id="transactionManager"
         class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref="dataSource" />
   </bean>
</beans>