<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="redisPool_1" class="com.al.crm.cache.pool.RedisPool" init-method="init">
        <property  name="maxTotal" value="200" />
        <property  name="maxIdle" value="30" />
        <property  name="maxWaitMillis" value="3000" />
        <property name="minIdle" value="3"/>
        <property name="serverIp" value="10.128.91.222:8088" />
        <property name="passWord" value="crmtest#asia@123" />
        <property name="database" value="4970" />
    </bean>

    <bean id="redisPool_2" class="com.al.crm.cache.pool.RedisPool" init-method="init">
        <property  name="maxTotal" value="200" />
        <property  name="maxIdle" value="30" />
        <property  name="maxWaitMillis" value="3000" />
        <property name="minIdle" value="3"/>
        <property name="serverIp" value="10.128.91.222:8088" />
        <property name="passWord" value="crmtest#asia@123" />
        <property name="database" value="4970" />
    </bean>

    <bean id="redisManager" class="com.al.crm.cache.pool.RedisManager">
        <property name="redisClient" ref="redisClient" />
    </bean>

    <!--集团分省redis路由配置   -->
    <bean id="redisClient" class="com.al.crm.cache.routing.RedisSource">
        <property name="targetDataSources">
            <map>
                <entry key="rds01" value-ref="redisPool_1" />
                <entry key="rds02" value-ref="redisPool_2" />
            </map>
        </property>
        <property name="strategy" value="com.al.crm.cache.routing.RedisSourceStrategy"/>
    </bean>

</beans>